@keyframes rainbow {
  0% {
    background-color: #ff3dcf;
  }

  25% {
    background-color: #ffe702;
  }

  50% {
    background-color: #49f0a1;
  }

  75% {
    background-color: #14bcdf;
  }

  100% {
    background-color: #ff3dcf;
  }
}

.rainbowBackground {
  animation: rainbow 5s ease-in-out infinite;
  color: transparent;
  background-clip: text;
}
