---
import Layout from '@layouts/DocPage.astro';
import { getEntry } from 'astro:content';

const entry = await getEntry('docs', 'index');

const { Content, headings } = await entry.render();
// TODO: Move title to settings
const title = entry.data.title || 'Documentation';
---

<Layout title={title} headings={headings}>
  <Content />
  <div>
    <ul class="list-none">
      <li>
        <p><span class="font-bold">Need some help?</span> Contact support</p>
      </li>
      <li>
        <p><span class="font-bold">Product updates?</span> See Changelogs</p>
      </li>
      <li>
        <p><span class="font-bold">Something's weird?</span> Check system status</p>
      </li>
    </ul>
  </div>
</div>
</Layout>
