---
import Layout from '@layouts/Page.astro';
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
	<main>
		<div class="flex flex-col gap-24 lg:gap-32">
        TODO: sidebar menu, content area
		</div>
	</main>
</Layout>
