---
import DynamicForm from '@components/Support/form/DynamicForm';
import Layout from '@layouts/SupportPage.astro';
---

<Layout title="Request Form">
  <main class="container mx-auto h-screen">
    <DynamicForm client:load />
  </main>
</Layout>
