@tailwind components;

@layer components {
  #githubEdit {
    @apply inline p-20 pl-0 font-plex-sans text-16 transition hover:opacity-50;
  }

  main ~ #githubEdit {
    @apply hidden;
  }

  .doc,
  .blog {
    pre {
      @apply bg-fleek-gradient mb-20 rounded-8 p-10;
      box-sizing: border-box;
      display: block;

      > code {
        @apply bg-fleek-gradient inline-block p-20 text-16;
        min-width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
