---
import Layout from '@layouts/SupportPage.astro';
import HomePageHero from '@components/Support/HomePageHero';
---

<Layout title="Fleek Support">
  <main class="support">
    <HomePageHero client:load />
  </main>
</Layout>
