---
import Layout from '@layouts/BlogPage.astro';
import { getCollection } from 'astro:content';
import BlogPosts from '@components/BlogPosts.astro';
import BlogHeader from '@components/BlogHeader.astro';
import settings from '@base/settings.json';

import type { CollectionEntry } from 'astro:content';

const indexNameBlog = import.meta.env.PUBLIC_MEILISEARCH_INDEX_BLOG;

const collection = 'blog';

// TODO: load title from settings
const pageTitle = 'Blog';
const allPosts: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={settings.site.metadata.title}>
  <main class="container min-h-container">
    <BlogHeader title="Blog" indexName={indexNameBlog} />
    <BlogPosts allPosts={allPosts} collection={collection} />
  </main>
</Layout>
