---
import Layout from '@layouts/BlogPage.astro';
import Container from "@components/Container";
import { getCollection } from "astro:content";

const pageTitle = "Blog";
const allPosts = await getCollection("blog");

console.log('[debug] allPosts: ', allPosts);
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
	<ul>
		{
			allPosts.map(post => (
					<li>{post.data.title}</li>
				)
			)
		}
	</ul>
</Layout>
