---
import Layout from '@layouts/BlogPage.astro';
import Container from '@components/Container';
import { getCollection } from 'astro:content';
import SearchBtn from '@components/SearchBtn';
import BlogPosts from '@components/BlogPosts.astro';

const indexNameBlog = import.meta.env.PUBLIC_MEILISEARCH_INDEX_BLOG;

// TODO: load title from settings
const pageTitle = 'Blog';
const allPosts = await getCollection('blog');
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
  <main class="container min-h-container">
    <div
      class="mx-64 flex items-center justify-between space-x-4 pt-32 font-plex-sans text-32 font-bold"
    >
      <h1>Blog</h1>
      <div class="relative flex h-48 items-center">
        <SearchBtn client:load indexName={indexNameBlog} />
      </div>
    </div>
    <BlogPosts
      allPosts={allPosts}
    />
  </main>
</Layout>
