---
import Layout from '@layouts/BlogPage.astro';
import Container from "@components/Container";
import { getCollection } from "astro:content";

const pageTitle = "Blog";
const allPosts = await getCollection("blog");
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
  <main class="container min-h-container">
		<div class="flex items-center justify-between space-x-4 pt-32 mx-64 font-plex-sans text-32 font-bold">
			<h1>Blog</h1>
			<div class="relative flex items-center h-48">
			  <input id="search" type="text" class="outline-0 border-2 focus:border-blue-500 h-full pl-40 rounded-8 font-sans h-20 leading-18 text-18 font-light" placeholder="Search blog posts..."">
				<div class="absolute left-0 flex items-center p-10">
				  <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" fill="none" viewBox="0 0 24 24" stroke="#aaa">
				    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
				  </svg>
				</div>
			</div>
		</div>

		<div class="px-64 py-64 pb-128 grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-32">
			{
				allPosts.map(post => (
						<a href={`/blog/${post.slug}`}>
							<article class="bg-ui-fleek-black overflow-hidden rounded-8 shadow transition cursor-pointer hover:scale-105">
								<img alt="" src="https://blog.fleek.xyz/static/237f5b7bc93c88c20c9283ff2a832cf7/54c35/nextjsguide.webp" class="h-[200px] w-full object-cover">
								<div class="p-32">
									<span class="text-16 font-plex-sans font-light text-ui-mid-grey">Category</span>
									<h3 class="text-24 font-plex-sans font-medium leading-tight">How To Deploy A Next.js App To Fleek.xyz: A Step-by-Step Guide for Developers</h3>
								</div>
							</article>
						</a>
					)
				)
			}
		</div>
	</main>
</Layout>

<script>
 document.addEventListener('DOMContentLoaded', (event) => {
    const search = document.getElementById('search');
    search.addEventListener('click', () => {
      alert('TODO: Indexation, Search, etc');
    });
 });
</script>
