---
import Layout from '@layouts/ChangelogPage.astro';
import settings from '@base/settings.json';
import { getCollection } from 'astro:content';
import { ChangelogList } from '@components/Changelog/ChangelogList';

const changelogs = (await getCollection('changelog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout
  title={settings.site.metadata.changelog.title}
  description={settings.site.metadata.changelog.description}
>
  <section class="m-auto flex max-w-768 flex-col px-20 pb-128 font-plex-sans">
    <div class="pb-42">
      <h1 class="text-34 font-medium text-gray-dark-12">Changelog</h1>
      <h2 class="text-20">New updates and improvements to Fleek</h2>
    </div>
    <ChangelogList changelogs={changelogs} client:load />
  </section>
</Layout>
