---
import Layout from '@layouts/BlogPage.astro';
import Container from '@components/Container';
import { getCollection } from 'astro:content';
import BlogPosts from '@components/BlogPosts.astro';
import BlogHeader from '@components/BlogHeader.astro';

const indexNameGuides = import.meta.env.PUBLIC_MEILISEARCH_INDEX_GUIDES;

// TODO: load title from settings
const pageTitle = 'Guides';
const allPosts = await getCollection('guides');
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
  <main class="container min-h-container">
    <BlogHeader
      title="Guides"
      indexName={indexNameGuides}
    />
    <BlogPosts
      allPosts={allPosts}
    />
  </main>
</Layout>
