---
import Layout from '@layouts/Page.astro';
import HomepageHero from "@components/HomepageHero";
import GlobeWithFloatingCards from "@components/GlobeWithFloatingCards";
import CardsWithDottedLinesBackground from "@components/CardsWithDottedLinesBackground";
import HostingOnFleek from "@components/HostingOnFleek";
import LoopingCardSlider from "@components/LoopingCardSlider";
import IconsCollectionWithHeadline from "@components/IconsCollectionWithHeadline";
import ChainAgnostic from "@components/ChainAgnostic";
import CopyWithImageSwap from "@components/CopyWithImageSwap";
import NSManagement from "@components/NSManagement";
import CountdownAnimation from "@components/CountdownAnimation";
import JoinOurFriends from "@components/JoinOurFriends";
import BuildUseCases from "@components/BuildUseCases";

import { Image } from 'astro:assets';
import imgDnsEnsIpnsManagement from "@images/dns-ens-ipns-management.png";
import imgHostingOnFleek from "@images/hosting-on-fleek.png";
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
	<div class="flex flex-col gap-24 mb-40 lg:gap-32">
		<HomepageHero client:load />
		<GlobeWithFloatingCards client:load />
		<div class="flex flex-col gap-8 lg:gap-16">
      <HostingOnFleek
        client:load
        rounded="top-big-bottom-small"
      >
        <Image
          class="max-w-[280px] object-contain mix-blend-screen md:max-w-[550px] xl:max-w-[663px]"
          src={imgHostingOnFleek}
          alt="Hosting on Fleek"
          slot="optImgHostingOnFleek"
        />
      </HostingOnFleek>
      <JoinOurFriends client:only="react" />
      <BuildUseCases client:load />
      <ChainAgnostic client:load />
      <CopyWithImageSwap
        client:load
        kicker="Storage"
        headline="IPFS, Arweave, Filecoin, OH MY."
        copy="Multiple storage layer options. All with IPFS content addressing/routing built in. In just 3 lines of code."
        cta={{
          text: "learn more",
          url: "https://fleek.xyz/storage/",
        }}
      />
		</div>
    <NSManagement client:load cta="Learn More">
      <Image
        class="object-contain mix-blend-screen"
        src={imgDnsEnsIpnsManagement} slot="OptImgDnsEnsIpnsManagement"
        alt="DNS/ENS/IPNS Management"
      />
    </NSManagement>
    <CountdownAnimation client:load />
	</div>
</Layout>
