---
import Layout from '@layouts/Page.astro';
import HomepageHero from "@components/HomepageHero";
import GlobeWithFloatingCards from "@components/GlobeWithFloatingCards";
import CardsWithDottedLinesBackground from "@components/CardsWithDottedLinesBackground";
import HostingOnFleek from "@components/HostingOnFleek";
import LoopingCardSlider from "@components/LoopingCardSlider";
import IconsCollectionWithHeadline from "@components/IconsCollectionWithHeadline";
import ChainAgnostic from "@components/ChainAgnostic";
import CopyWithImageSwap from "@components/CopyWithImageSwap";
import NSManagement from "@components/NSManagement";
import CountdownAnimation from "@components/CountdownAnimation";
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
	<div class="flex flex-col gap-24 mb-40 lg:gap-32">
		<HomepageHero client:load />
		<GlobeWithFloatingCards client:load />
		<div class="flex flex-col gap-8 lg:gap-16">
      <HostingOnFleek
        client:load
        rounded="top-big-bottom-small"
      />
      <LoopingCardSlider
				client:only="react"
        headline="Join your friends"
        cards={[
          {
            bannerImage: "/images/snapshot-banner.jpg",
            icon: "/images/snapshot-icon.png",
            title: "snapshot",
            domain: "snapshot.org",
            cta: {
              url: "https://snapshot.org/",
            },
          },
          {
            bannerImage: "/images/vitalik-buterin-banner.jpg",
            icon: "/images/eth-icon.png",
            title: "Vitalik Buterin",
            domain: "vitalik.eth",
            cta: {
              url: "https://vitalik.eth.limo/",
            },
          },
          {
            bannerImage: "/images/dappradar-banner.jpg",
            icon: "/images/dappradar-icon.png",
            title: "dappradar",
            domain: "dappradar.com",
            cta: {
              url: "https://dappradar.com/",
            },
          },
          {
            bannerImage: "/images/synthetix-banner.jpg",
            icon: "/images/synthetix-icon.png",
            title: "Synthetix",
            domain: "staking.synthetix.io",
            cta: {
              url: "https://staking.synthetix.io/",
            },
          },
          {
            bannerImage: "/images/ensapp-banner.jpg",
            icon: "/images/ens-icon.png",
            title: "ENS App",
            domain: "app.ens.domains",
            cta: {
              url: "https://app.ens.domains/",
            },
          },
        ]}
      />
      <CardsWithDottedLinesBackground
        client:load
        headline="Get building with these examples."
        cta={{
          url: "https://app.fleek.xyz/templates/",
          text: "see all templates",
        }}
        cardSections={[
          {
            title: "Use-Cases",
            cards: [
              {
                title: "Web3 App",
                description: "Start with a pre-set WAGMI EVM app boilerplate.",
                icon: { src: "/svg/web3-app-icon.svg", alt: "Web3 App" },
                cta: {
                  url: "https://github.com/fleekxyz/evm-starter-kit",
                  text: "try it",
                },
              },
              {
                title: "Nextra Blog",
                description:
                  "Deploy a Nextra static blog ready to start publishing.",
                icon: { src: "/svg/nfas-icon.svg", alt: "Nextra blog" },
                cta: {
                  url: "https://github.com/fleekxyz/fleek-demos-blog",
                  text: "try it",
                },
              },
              {
                title: "Lens App",
                description: "Start a new Lens-integrated social frontend.",
                icon: { src: "/svg/lens-icon.svg", alt: "Lens App" },
                cta: {
                  url: "https://app.fleek.xyz/templates/clo7b9d0a0001ei0owl3w09bd/",
                  text: "try it",
                },
              },
            ],
          },
          {
            title: "Frameworks",
            cards: [
              {
                title: "Next.js",
                description: "Work on an IPFS-ready Next.js starter-kit.",
                icon: { src: "/svg/next-icon.svg", alt: "NextJs App" },
                cta: {
                  url: "https://github.com/fleekxyz/nextjs-template",
                  text: "try it",
                },
              },
              {
                title: "React App",
                description: "Deploy a quick Create React App on Fleek.",
                icon: { src: "/svg/react-icon.svg", alt: "React App" },
                cta: {
                  url: "https://github.com/fleekxyz/react-template",
                  text: "try it",
                },
              },
              {
                title: "Astro",
                description:
                  "Build on a speed-optimized Astro boilerplate.",
                icon: { src: "/svg/astro-icon.svg", alt: "Astro App" },
                cta: {
                  url: "https://github.com/fleekxyz/astro-template",
                  text: "try it",
                },
              },
            ],
          },
        ]}
      />
      <ChainAgnostic client:load />
      <CopyWithImageSwap
        client:load
        kicker="Storage"
        headline="IPFS, Arweave, Filecoin, OH MY."
        copy="Multiple storage layer options. All with IPFS content addressing/routing built in. In just 3 lines of code."
        cta={{
          text: "learn more",
          url: "https://fleek.xyz/storage/",
        }}
      />
		</div>
    <NSManagement client:load cta="Learn More" />
    <CountdownAnimation client:load />
	</div>
</Layout>
