---
import Layout from '@layouts/Page.astro';
import HomepageHero from "@components/HomepageHero";
import GlobeWithFloatingCards from "@components/GlobeWithFloatingCards";
import CardsWithDottedLinesBackground from "@components/CardsWithDottedLinesBackground";
import HostingOnFleek from "@components/HostingOnFleek";
import LoopingCardSlider from "@components/LoopingCardSlider";
import Container from "@components/Container";
import Pricing from '@components/Pricing';
import FAQ from '@components/FAQ';
import PayMethods from '@components/PayMethods';
import LiveOnTheEdge from "@components/LiveOnTheEdge";
---

<Layout title="Fleek | Build Lightning Fast Web3 Apps">
  <main class="flex flex-col gap-16 pb-64">
    <Pricing client:load />
    <PayMethods client:load />
    <FAQ client:load />
    <LiveOnTheEdge client:load />
  </main>
</Layout>
