---
import Layout from '@layouts/BlogPage.astro';
import { getCollection } from 'astro:content';
import BlogPosts from '@components/BlogPosts.astro';
import BlogHeader from '@components/BlogHeader.astro';
import settings from '@base/settings.json';

import type { CollectionEntry } from 'astro:content';

const indexNameReferences = import.meta.env.PUBLIC_MEILISEARCH_INDEX_REFERENCES;

const collection = 'references';

// TODO: load title from settings
const pageTitle = 'References';
const allPosts: CollectionEntry<'references'>[] = (
  await getCollection('references')
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={settings.site.metadata.title}>
  <main class="container min-h-container">
    <BlogHeader title="References" indexName={indexNameReferences} />
    <BlogPosts allPosts={allPosts} collection={collection} />
  </main>
</Layout>
