---
import Layout from '@layouts/SupportPage.astro';
import HomePageHero from '@components/Support/HomePageHero';
import CategoryCards from '@components/Support/CategoryCards';
import FeaturedArticles from '@components/Support/FeaturedArticles';
import UsefulVideos from '@components/Support/UsefulVideos';
import settings from '@base/settings.json';
---

<Layout
  title={settings.site.metadata.support.title}
  description={settings.site.metadata.support.description}
>
  <main class="support container">
    <HomePageHero client:load />
    <CategoryCards client:load />
    <FeaturedArticles />
    <UsefulVideos client:load />
  </main>
</Layout>
