---
import Layout from '@layouts/SupportPage.astro';
import HomePageHero from '@components/Support/HomePageHero';
import CategoryCards from '@components/Support/CategoryCards';
import FeaturedArticles from '@components/Support/FeaturedArticles';
import UsefulVideos from '@components/Support/UsefulVideos';
import SupportFormLinks from '@components/Support/SupportFormLinks';
---

<Layout title="Fleek Support">
  <main class="support container">
    <HomePageHero />
    <CategoryCards client:load />
    <FeaturedArticles />
    <SupportFormLinks />
    <UsefulVideos client:load />
  </main>
</Layout>
