---
import SearchBtn from '@components/SearchBtn';
import clsx from 'clsx';
import { listSubDirectories } from '@utils/paths';

const ROOT = 'all';
const { title, indexName, category } = Astro.props;
const categories = await listSubDirectories({
  path: './src/content/blog',
});
categories.push(ROOT);
categories.sort();

const isBlogRoot = Astro.url.pathname.startsWith('/blog');
---

<div
  class="mx-20 flex items-center justify-between pt-32 font-plex-sans text-32 font-bold md:mx-64"
>
  <div class="align-center flex gap-20 md:gap-40">
    <h1>{title}</h1>
    <div class="align-center flex flex-col gap-10 md:flex-row">
      <div class="group relative md:hidden">
        <button
          class="rounded-8 font-plex-sans text-16 font-light capitalize transition ease-in-out"
        >
          <svg
            width={20}
            height={20}
            viewBox="0 0 256 256"
            class="white rotate-90"
          >
            <g fill="#fff" stroke-miterlimit="10" stroke-width="1">
              <path
                d="M15.205 90a2 2 0 01-2-2V55.115a2 2 0 014 0V88a2 2 0 01-2 2zM74.795 59.357a2 2 0 01-2-2V2a2 2 0 014 0v55.357a2 2 0 01-2 2zM45 90a2 2 0 01-2-2V27.922a2 2 0 014 0V88a2 2 0 01-2 2z"
                transform="matrix(2.81 0 0 2.81 1.407 1.407)"></path>
              <path
                d="M45 29.922c-5.464 0-9.91-4.445-9.91-9.91s4.445-9.91 9.91-9.91 9.91 4.445 9.91 9.91-4.445 9.91-9.91 9.91zm0-15.819c-3.259 0-5.91 2.651-5.91 5.91s2.651 5.91 5.91 5.91 5.91-2.651 5.91-5.91-2.651-5.91-5.91-5.91zM15.205 57.115c-5.464 0-9.91-4.445-9.91-9.91 0-5.464 4.445-9.91 9.91-9.91s9.91 4.445 9.91 9.91-4.446 9.91-9.91 9.91zm0-15.82c-3.259 0-5.91 2.651-5.91 5.91s2.651 5.91 5.91 5.91 5.91-2.651 5.91-5.91-2.651-5.91-5.91-5.91zM74.795 75.177c-5.464 0-9.909-4.445-9.909-9.91 0-5.464 4.445-9.909 9.909-9.909 5.465 0 9.91 4.445 9.91 9.909s-4.445 9.91-9.91 9.91zm0-15.82c-3.259 0-5.909 2.65-5.909 5.909s2.65 5.91 5.909 5.91 5.91-2.651 5.91-5.91-2.651-5.909-5.91-5.909z"
                transform="matrix(2.81 0 0 2.81 1.407 1.407)"></path>
              <path
                d="M15.205 41.295a2 2 0 01-2-2V2a2 2 0 014 0v37.295a2 2 0 01-2 2zM45 14.103a2 2 0 01-2-2V2a2 2 0 014 0v10.103a2 2 0 01-2 2zM74.795 90a2 2 0 01-2-2V73.177a2 2 0 014 0V88a2 2 0 01-2 2z"
                transform="matrix(2.81 0 0 2.81 1.407 1.407)"></path>
            </g>
          </svg>
        </button>
        <ul
          class="absolute top-50 block hidden rounded-8 bg-ui-fleek-black p-20 px-10 group-hover:block"
        >
          {
            isBlogRoot
            && categories.map((catName) => (
              <li>
                <a
                  class="block rounded-8 bg-ui-fleek-black px-16 py-8 font-plex-sans text-16 font-light capitalize transition duration-200 ease-in-out hover:bg-ui-mid-grey hover:text-ui-fleek-black"
                  href={`/blog/${catName !== ROOT ? catName : ''}`}
                >
                  {catName}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="hidden gap-10 md:flex">
        {
          isBlogRoot
          && categories.map((catName) => (
            <a
              class={clsx(
                'block self-center rounded-8 bg-ui-fleek-black px-16 py-8 font-plex-sans text-16 font-light capitalize transition duration-200 ease-in-out hover:bg-ui-mid-grey hover:text-ui-fleek-black',
                (catName === category || (catName == ROOT && !category)) &&
                  'bg-ui-mid-grey text-ui-fleek-black',
              )}
              href={`/blog/${catName !== ROOT ? catName : ''}`}
            >
              {catName}
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class="relative flex h-48 items-center">
    <SearchBtn client:load indexName={indexName} />
  </div>
</div>
