---
import SearchBtn from '@components/SearchBtn';

const { title, indexName } = Astro.props;
---
<div
  class="mx-64 flex items-center justify-between space-x-4 pt-32 font-plex-sans text-32 font-bold"
>
  <h1>{title}</h1>
  <div class="relative flex h-48 items-center">
    <SearchBtn client:load indexName={indexName} />
  </div>
</div>
