---
const { apiKey, appId, indexName } = Astro.props
---
<div id="docsearch"></div>

<script>
import docsearch from '@docsearch/js';
import '@styles/blogSearch.css';

const apiKey = "33ed5b78ac12317e4243d3f44874cbc8";
const appId = "ZLPPXSKTFE";
const indexName = "fleek";

docsearch({
  container: '#docsearch',
  appId,
  indexName,
  apiKey,
});
</script>
