---
import settings from '../settings.json';

const branch = 'main';
const { pathname } = Astro.props;
---
<div id="githubEdit">
  <a href={`${settings.github.editUrl}/${branch}/${pathname}`}>Edit this page</a>
</div>
