---
import TableOfContents from './TableOfContents';
import type { MarkdownHeading } from 'astro';

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props as Props;
---

<nav class="sidebar-nav" aria-labelledby="grid-right">
  <div>
    {
      headings.length ? (
        <TableOfContents client:media="(min-width: 50em)" headings={headings} />
      ) : (
        ''
      )
    }
  </div>
</nav>
