.wagmiCTA:hover {
  background: linear-gradient(331deg, #49f0a1 7.28%, #14bcdf 66.15%);
}

.proCTA:hover {
  background: linear-gradient(
    330deg,
    #ff3dcf 33.33%,
    #14bcdf 66.15%,
    #49f0a1 100%
  );
}

.enterpriseCTA:hover {
  background: linear-gradient(350deg, #ffe702 0%, #ff3dcf 100%);
}

.wagmiHeader {
  max-width: 325px;
  width: 100%;
  text-align: center;
  background: linear-gradient(331deg, #49f0a1 7.28%, #14bcdf 66.15%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proHeader {
  max-width: 325px;
  width: 100%;
  text-align: center;
  background: linear-gradient(
    330deg,
    #ff3dcf 33.33%,
    #14bcdf 66.15%,
    #49f0a1 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.enterpriseHeader {
  max-width: 325px;
  width: 100%;
  text-align: center;
  background: linear-gradient(350deg, #ffe702 0%, #ff3dcf 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
