---
import '@styles/globals.css';
import '@styles/blogPage.css';

import type { MarkdownHeading } from 'astro';
import GeneralPageLayout from './GeneralPageLayout.astro';

const { title } = Astro.props;
---

<GeneralPageLayout title={title}>
  <main class="container min-h-container">
    <slot />
  </main>
</GeneralPageLayout>
