---
import '../globals.css';
import BaseHtml from '@layouts/BaseHtml.astro';
import Announcement from "@components/Announcement";
import Container from "@components/Container";
import Nav from "@components/Nav";
import Footer from "@components/Footer";
import generateSidebarDS, { generateSidebarDSByUserOrder } from '@utils/generateSidebarDS';
import { getCollection } from "astro:content";
import Sidebar from '@components/Sidebar';
import OnPageNavigation from '@components/OnPageNavigation/OnPageNavigation.astro';
import settings from '@base/settings.json';

import type { MarkdownHeading } from 'astro';

type Props = {
  title: string;
	headings: MarkdownHeading[];
};

const { title, headings } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `src/content/blog/${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${settings.github.editUrl}/${currentFile}`;

const allPosts = await getCollection("docs");

const sidebarSorted = generateSidebarDSByUserOrder(allPosts, settings.docs.menu.order);
---

<BaseHtml title={title} headings={headings}>
  <style is:global>
   @tailwind components;

   @layer components {
    .blog {
      h1 {
        @apply font-plex-mono text-38 font-bold leading-loose;
      }
      h2 {
        @apply font-plex-mono text-32 font-bold leading-loose;
      }
      p {
        @apply font-plex-mono text-18 pb-32 leading-normal;
      }   
    }
   }
  </style>
  <main class="container min-h-container">
    <article class="blog">
      <slot />
    </article>
  </main>
</BaseHtml>
