---
import '@styles/globals.css';
import '@styles/blogPage.css';
import BaseHtml from '@layouts/BaseHtml.astro';

import type { MarkdownHeading } from 'astro';

const { title } = Astro.props;
const currentPage = Astro.url.pathname;
---

<BaseHtml title={title}>
  <main class="container min-h-container">
    <slot />
  </main>
</BaseHtml>
