---
import '@styles/globals.css';
import '@styles/blogPage.css';
import BaseHtml from '@layouts/BaseHtml.astro';
import Announcement from "@components/Announcement";
import Container from "@components/Container";
import Nav from "@components/Nav";
import Footer from "@components/Footer";
import generateSidebarDS, { generateSidebarDSByUserOrder } from '@utils/generateSidebarDS';
import { getCollection } from "astro:content";
import Sidebar from '@components/Sidebar';
import GithubEditLink from '@components/GitHubEditLink.astro';
import OnPageNavigation from '@components/OnPageNavigation/OnPageNavigation.astro';
import settings from '@base/settings.json';

import type { MarkdownHeading } from 'astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrlPathname = currentFile.replace(/\//, '');
---

<BaseHtml title={title}>
  <main class="container min-h-container">
    <article class="blog">
      <slot />
      <GithubEditLink pathname={githubEditUrlPathname} />
    </article>
  </main>
</BaseHtml>
