---
import '@styles/globals.css';
import Announcement from '@components/Announcement';
import GeneralPageLayout from './GeneralPageLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<GeneralPageLayout title={title}>
  <main>
    <slot />
  </main>
</GeneralPageLayout>
