---
import '@styles/globals.css';
import BaseHtml from './BaseHtml.astro';

interface Props {
  title: string;
  description: string;
  image: string;
  slug: string;
}

const { title, description, image, slug } = Astro.props;
---

<BaseHtml
  title={title}
  ogMeta={{
    title,
    description,
    image,
    slug,
  }}
>
  <main>
    <slot />
  </main>
</BaseHtml>
