---
import '../globals.css';
import BaseHtml from '@layouts/BaseHtml.astro';
import Announcement from "@components/Announcement";
import Nav from "@components/Nav";
import Footer from "@components/Footer";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<BaseHtml title={title}>
  <main>
  	<slot />
  </main>
</BaseHtml>
