---
import '@styles/globals.css';
import settings from '@base/settings.json';
import BaseHtml from './BaseHtml.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const image = settings.site.metadata.default.image;
const slug = '';
---

<BaseHtml
  title={title}
  ogMeta={{
    title,
    description,
    image,
    slug,
  }}
>
  <main>
    <slot />
  </main>
</BaseHtml>
