---
import '@styles/globals.css';
import BaseHtml from '@layouts/BaseHtml.astro';
import Announcement from '@components/Announcement';
import Nav from '@components/NavBar';
import Footer from '@components/Footer';
import settings from '@base/settings.json';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const image = settings.site.metadata.default.image;
const slug = '';
---

<BaseHtml
  title={title}
  ogMeta={{
    title,
    description,
    image,
    slug,
  }}
>
  <main>
    <slot />
  </main>
</BaseHtml>
